* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
 display: grid;
 grid-template-columns: 33vw 33vw 34vw;
 grid-template-rows: 100vh;

}

.LeftSide{
    background-color: green;
}
.MiddleSection{
    background-color: white;
}
.RightSide{
    background-color: red;
}